# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
rex.zip
opCodes.xlsx
pkg/e2e_test_bytecode.bin
pkg/runtime/test_bytecode.bin
pkg/compiler/test_bytecode.bin
cmd/rexc/output.bytecode
.tmp.driveupload/29872
.tmp.driveupload/29876
.tmp.driveupload/29880
.tmp.driveupload/29884
.tmp.driveupload/29888
.tmp.driveupload/29892
.tmp.driveupload/29896
.tmp.driveupload/29900
.tmp.driveupload/29904
.tmp.driveupload/29908
.tmp.driveupload/29912
.tmp.driveupload/29916
.tmp.driveupload/29920
.tmp.driveupload/29922
.tmp.driveupload/29926
.tmp.driveupload/29930
.tmp.driveupload/29934
.tmp.driveupload/29936
.tmp.driveupload/29940
.tmp.driveupload/29944
.tmp.driveupload/29948
.tmp.driveupload/29952
.tmp.driveupload/29956
.tmp.driveupload/29960
.tmp.driveupload/29962
.tmp.driveupload/29966
.tmp.driveupload/29970
.tmp.driveupload/29974
.tmp.driveupload/29978
.tmp.driveupload/29982
.tmp.driveupload/29984
.tmp.driveupload/29988
.tmp.driveupload/29990
.tmp.driveupload/29994
.tmp.driveupload/29998
.tmp.driveupload/30002
.tmp.driveupload/30004
.tmp.driveupload/30008
.tmp.driveupload/30012
.tmp.driveupload/30016
.tmp.driveupload/30020
.tmp.driveupload/30024
.tmp.driveupload/30028
.tmp.driveupload/30034
.tmp.driveupload/30038
.tmp.driveupload/30042
.tmp.driveupload/30046
.tmp.driveupload/30048
.tmp.driveupload/30052
.tmp.driveupload/30058
.tmp.driveupload/30060
.tmp.driveupload/30064
.tmp.driveupload/30068
.tmp.driveupload/30072
.tmp.driveupload/30076
.tmp.driveupload/30078
.tmp.driveupload/30082
.tmp.driveupload/30086
.tmp.driveupload/30090
.tmp.driveupload/30092
.tmp.driveupload/30094
.tmp.driveupload/30098
.tmp.driveupload/30100
.tmp.driveupload/30104
.tmp.driveupload/30108
.tmp.driveupload/30112
.tmp.driveupload/30116
.tmp.driveupload/30120
.tmp.driveupload/30124
.tmp.driveupload/30128
.tmp.driveupload/30130
.tmp.driveupload/30134
.tmp.driveupload/30136
.tmp.driveupload/30140
.tmp.driveupload/30144
.tmp.driveupload/30148
.tmp.driveupload/30152
.tmp.driveupload/30156
.tmp.driveupload/30160
.tmp.driveupload/30162
.tmp.driveupload/30166
.tmp.driveupload/30170
.tmp.driveupload/30174
.tmp.driveupload/30178
.tmp.driveupload/30182
.tmp.driveupload/30186
.tmp.driveupload/30188
.tmp.driveupload/30192
.tmp.driveupload/30196
.tmp.driveupload/30200
.tmp.driveupload/30204
.tmp.driveupload/30206
.tmp.driveupload/30210
.tmp.driveupload/30212
.tmp.driveupload/30216
.tmp.driveupload/30220
.tmp.driveupload/30222
.tmp.driveupload/30226
.tmp.driveupload/30230
.tmp.driveupload/30234
.tmp.driveupload/30238
.tmp.driveupload/30242
.gitignore
